.header {
  height: 60px;
  background-color: #FFFFFF;
  padding: 0 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background-image: url("../../assets/epam-logo.svg");
  display: inline-block;
  margin-top: 5px;
  width: 78px;
  height: 28px;
}
