<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Long Text about EPAM</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat
          architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.
        </p>
      </div>
    </div>
  </div>
</section>
