<div class="col-md-12 project-detail-info">
  <div class="header">{{detail.name}}</div>
  <div class="center-block">
    <div class="description">
      <a href="{{detail.githubUrl}}" class="link-to-github">{{detail.githubUrl}}</a>
      <p class="description-text">
        New Genome Browser (NGB) - a Web - based NGS data viewer with unique Structural Variations (SVs)
        visualization
        capabilities, high performance, scalability, and cloud data support
      </p>
      <div class="full-description-link">
        <span>Full Description</span>
      </div>
    </div>
    <div class="empty-block"></div>
    <div class="right-block">
      <span class="languages-label">LANGUAGES:</span>
      <ol>
        <li *ngFor="let language of detail.languages | async">
          <span class="lang-label small {{language.name}}"></span>
          <span class="language">{{language.name}}</span>
          <span class="language-percentage">{{language.percent}}%</span>
        </li>
      </ol>
      <span class="updated-label">UPDATED:</span>
      <br>
      <span class="updated">{{detail.lastUpdated}}</span>
    </div>
  </div>
  <div class="footer">
    <span class="number">{{detail.commitCount | async}}</span>
    <span class="characteristic"> Commits</span>
    <span class="separator"></span>
    <span class="number">{{detail.contributorCount | async}}</span>
    <span class="characteristic"> Contributions</span>
    <span class="separator"></span>
    <span class="number">{{detail.issueCount}}</span>
    <span class="characteristic"> Issues</span>
    <span class="separator"></span>
    <span class="number">{{detail.forkCount}}</span>
    <span class="characteristic"> Forks</span>
  </div>
</div>

