.projects {
  margin-top: 33px;
  margin-left: 55px;
  margin-right: 55px;
}

.project-count {
  height: 23px;
  width: 298px;
  color: #6B6D6F;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
  display: block;
}

.hidden {
  display: none;
}
