.menu-wrapper {
  padding: 34px 0;
  margin: 0 55px;
  border-bottom: 1px solid rgba(204,204,204,0.55);
}

.main-menu {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.floating-empty-block {
  flex-grow: 2;
}

.link {
  color: #464547;
  font-size: 16px;
  line-height: 20px;
  margin-right: 38px;
  text-decoration: none;
  padding-bottom: 10px;
}

.active.link {
  color: #464547;
  font-weight: 600;
  border-bottom: 2px solid #38C2D7;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #666666;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 7px solid #666666;
}

.date-label {
  color: #464547;
  font-size: 16px;
  line-height: 20px;
  padding-right: 6px;
}
