<section id="projects">
  <div class="card">
    <div class="card-body">
      <div>
        <h5 class="card-title">{{project.name}}</h5>
        <div class="card-subtitle text-muted language-block" *ngIf="project.language">
          <span class="color-label {{project.language}}"></span>
          <span class="language-{{project.language}}">{{project.language}}</span>
        </div>
      </div>
      <hr />
      <p class="card-text">{{project.description}}</p>
      <button class="btn" (click)="onClick()">
        View github page
      </button>
    </div>
  </div>
</section>

