<div class="project-item">
  <div class="header">
    <a href="#" class="name">{{project.name}}</a>
    <span class="category">{{project.category}}</span>
  </div>
  <div class="description">
    <p>
      {{project.description}}
    </p>
  </div>
  <div class="footer">
    <span class="lang-label {{project.language}}"></span>
    <span class="language">{{project.language}}</span>
    <span class="separator"></span>
    <span class="licence">{{project.licence}}</span>
    <span class="more-or-less-label">More</span>
  </div>
</div>

