.project-item {
  font-family: "Source Sans Pro";
  word-wrap: break-word;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(155, 155, 155, 0.65);
  margin-bottom: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 17px 20px;
  border-radius: 2px 2px 0 0;
  background-color: #F2F4F9;
}

.name {
  color: #38C2D7;
  font-size: 18px; /* todo:xxx in order to full text stays in header */
  font-weight: 600;
  line-height: 31px;
}

.name:hover {
  /* todo */
}

.category {
  color: #999999;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.description {
  padding: 25px 20px 15px 20px;
  color: rgba(107, 109, 111, 0.6);
  color: #999999;
  font-size: 16px;
  line-height: 24px;
}

.description p {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 75px;
  margin: 0 auto;
  line-height: 24px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  display: flex;
  align-items: center;
  padding: 10px 13px 35px 20px;
}

.language {
  color: #999999;
  padding-left: 9px;
  font-size: 16px;
  line-height: 20px;
  padding-right: 9px;
}

.separator {
  width: 2px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  height: 10px;
}

.licence {
  padding-left: 9px;
  color: #666666;
  font-size: 16px;
  line-height: 20px;
}

.more-or-less-label {
  color: #666666;
  font-size: 16px;
  line-height: 20px;
  align-self: flex-end;
  flex-grow: 2;
  text-align: right;
  cursor: pointer;
}

.more-or-less-label:hover {
  color: #38C2D7; /* todo */
}

/* Language colors */

.lang-label {
  height: 14px;
  width: 14px;
  border-radius: 30px;
  background-color: red;
}

.lang-label {
  background-color: #f34b7d;
}
.lang-label.Java {
  background-color: #b07219;
}
.lang-label.JavaScript {
  background-color: #f1e05a;
}
.lang-label.PHP {
  background-color: #4F5D95;
}
.lang-label.HTML {
  background-color: #e34c26;
}
.lang-label.Python {
  background-color: #3572A5;
}
.lang-label.CSS {
  background-color: #563d7c;
}
.lang-label.C {
  background-color: #f34b7d;
}
.lang-label.Objective-C {
  background-color: #438eff;
}
