html {
  height: 100%;
  font-family: "Source Sans Pro";
}


@font-face {
  font-family: "SourceSansProRegular";
  src: url("assets/fonts/SourceSansProRegular/SourceSansProRegular.eot");
  src: url("assets/fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
  url("assets/fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansProLight";
  src: url("assets/fonts/SourceSansProLight/SourceSansProLight.eot");
  src: url("assets/fonts/SourceSansProLight/SourceSansProLight.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/SourceSansProLight/SourceSansProLight.woff") format("woff"),
  url("assets/fonts/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansProBold";
  src: url("assets/fonts/SourceSansProBold/SourceSansProBold.eot");
  src: url("assets/fonts/SourceSansProBold/SourceSansProBold.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/SourceSansProBold/SourceSansProBold.woff") format("woff"),
  url("assets/fonts/SourceSansProBold/SourceSansProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* Language colors */

.lang-label {
  height: 14px;
  width: 14px;
  border-radius: 30px;
  background-color: #CCCCCC;
  display: inline-block;
}

.lang-label.small {
  height: 10px;
  width: 10px;
}

.lang-label.Java {
  background-color: #b07219;
}

.lang-label.JavaScript {
  background-color: #f1e05a;
}

.lang-label.PHP {
  background-color: #4F5D95;
}

.lang-label.HTML {
  background-color: #e34c26;
}

.lang-label.Python {
  background-color: #3572A5;
}

.lang-label.CSS {
  background-color: #563d7c;
}

.lang-label.C {
  background-color: #f34b7d;
}

.lang-label.C++ {
  background-color: #f34b7d;
}

.lang-label.Objective-C {
  background-color: #438eff;
}
