.search {
  background-image: url("../../assets/epam-background.png");
  background-size: cover;
  padding-top: 85px;
  padding-bottom: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text {
  width: 1100px;
  color: #FFFFFF;
  font-family: Oswald;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 24px;
}

.subheader-text {
  font-weight: 100;
  width: 670px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 50px;
}

.intro-text {
  width: 710px;
  padding-bottom: 35px;
  color: #6B6D6F;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: center;
}

.search-block input {
  padding-left: 10px;
  margin-right: 5px;
  width: 586px;
  line-height: 35px;
  border: 1px solid #cfd1d2;
  border-radius: 23px;
  outline: none;
}

.search-block button {
  height: 40px;
  background-color: #8C8F93;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
}

